<div class="content" role="main">
    <h1>List of Employees <a href="/"><span class="material-icons btn">add</span></a></h1>

    <li>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
      <a href=""><ul class="employee-preview">
          <img class="employee-image" src="https://picsum.photos/200" alt="">
          <p class="employee-preview-name">
            Luca Bruno
          </p>
          <a href="/"><span class="material-icons btn delete-btn">delete</span></a>
          <p class="employee-preview-position">
            Job title at Company Ltd
          </p>
      </ul></a>
    </li>

</div>
<app-profile-select></app-profile-select>



