<!-- Edit employee details page-->
<div class="display-info">

  <div class="full-bio">
    <!-- Edit reactive form -->
    <form [formGroup]="editForm" style="margin-top: 37px;" (ngSubmit)="onSubmit(employees[employeeCounter].employeeID)">
      <!-- Avatar change -->
      <div class="photo-swap">
        <!-- Click image to change avatar -->
        <label for="file-input">
          <!-- Default avatar -->
          <img id="avatar" class="photo" src="{{employees[employeeCounter].employeePic}}" alt="">
          <!-- Hover 'pencil' icon -->
          <img class="photo toEdit" src="https://media.istockphoto.com/vectors/pencil-icon-vector-vector-id518699375?k=6&m=518699375&s=170667a&w=0&h=NFjOjp6-sAGSJLYPYoMDahiCWWacTMXYnE_YhAitx2w=" alt="">
        </label>
        <!-- Currently functional for solely local files - must be amended to allow for web URLs -->
        <input id="file-input" name="profilepic" type="file" onchange="loadFile(event)"/>
    </div>

      <!-- Employee name -->
      <label class="form-header">Full name</label><br>
      <input type="text" formControlName="employeeName" class="form-header name" required><br>
      <!-- Employee position & company -->
      <label class="form-header">Job Position</label><br>
      <input type="text" formControlName="employeeJobPosition" class="form-field position" required> at <input type="text" formControlName="employeeCompany" class="form-field position company" required><br>
      <!-- Employee motto -->
      <label class="form-header">Motto</label><br>
      <input type="text" formControlName="employeeMotto" class="form-field motto"><br>
      <!-- Employee hobbies -->
      <label class="form-header">Hobbies</label><br>
      <input type="text" formControlName="employeeHobbies" class="form-field motto" required><br>
      <!-- Employee hometown -->
      <label class="form-header">Hometown</label><br>
      <input type="text" formControlName="employeeHometown" class="form-field" required><br>
      <!-- Employee blog -->
      <label class="form-header">Personal Blog</label><br>
      <input type="text" formControlName="employeeBlog" class="form-field blog-domain"><br>
      <!-- Save changes -->
      <button type="submit" [hidden]="!editForm.valid" class="material-icons btn rightHandSideBtns">save</button>
    </form>

    <router-outlet></router-outlet>
  </div>
</div>
