.photo-swap{
  position: relative;
  margin-bottom: 50px;
}

.toEdit{
  opacity: 35%;
  margin-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 50px;
}

.toEdit:hover{
  opacity: 60%;
}

.form-header{
  color:rgb(168, 168, 168);
  margin-left: 55px;
  margin-bottom: 30px;
}

.position:nth-of-type(3){
  margin-left: 0px;
}

.form-field{
  color:rgb(168, 168, 168);
  margin-left: 55px;
  margin-bottom: 30px;
}

.form-field.blog-domain{
  margin-left: 0px;
}

input{
  font-family: 'Georama', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  color:rgb(168, 168, 168);
  width: 13em;
}

input.company{
  width: 11.5em;
}

input.motto{
  width: 38em;
}

input.blog-domain{
  width: 31em;
}

input:first-of-type{
  color:#76B635;
  font-size: 24px;
}

input:nth-of-type(7){
  color:#76B635;
}

button{
  position: absolute;
  top: -3px;
  right: -8px;
  border: none;
  background: white;
  padding: 0;
  cursor: pointer;
}

.photo-swap > input{
    display: none;
}

.photo-swap img{
    cursor: pointer;
}
