<!-- Pre-selection message -->
<div class="display-info" *ngIf="showProfile == false && showCreate == false; else profileDisplay">
  <p class="unselected-dialog">Please select an employee.</p>
</div>

<!-- Selected employee profile page -->
<ng-template #profileDisplay>
  <ng-container>
    <!-- Top-right buttons -->
    <div class="display-info">
      <!-- Delete employee -->
      <a (click)="deleteEmployee(employees[employeeCounter].employeeID)" routerLinkActive="active"><span
        class="material-icons btn rightHandSideBtns">delete</span></a>
      <!-- Edit employee -->
      <a routerLink="/app-profile-edit/{{employees[employeeCounter].employeeID}}" routerLinkActive="active"><span class="material-icons btn rightHandSideBtns">edit</span></a>

      <!-- Employee avatar -->
      <img class="photo" src="{{employees[employeeCounter].employeePic}}" alt="">
      <!-- Employee details -->
      <div class="full-bio">
        <!-- Employee name -->
        <p class="name">{{employees[employeeCounter].employeeName}}</p>
        <!-- Employee position & company -->
        <p class="position">{{employees[employeeCounter].employeeJobPosition}} at
          {{employees[employeeCounter].employeeCompany}}</p>
        <div>
          <!-- Employee motto -->
          <p class="info-header">Motto</p>
          <p class="info-field">{{employees[employeeCounter].employeeMotto}}</p>
          <!-- Employee hobbies -->
          <p class="info-header">Hobbies</p>
          <p class="info-field">{{employees[employeeCounter].employeeHobbies}}</p>
          <!-- Employee hometown -->
          <p class="info-header">Hometown</p>
          <p class="info-field">{{employees[employeeCounter].employeeHometown}}</p>
          <!-- Employee blog -->
          <p class="info-header">Personal Blog</p>
          <a href="{{employees[employeeCounter].employeeBlog}}"><p class="info-field blog-domain">{{employees[employeeCounter].employeeBlog}}</p></a>
        </div>
      </div>

    </div>
  </ng-container>
</ng-template>
